
data/GIS_Data/County_MedianPctOfPriceReduction_AllHomes.csv
data/GIS_Data/County_MedianValuePerSqft_AllHomes.csv
data/GIS_Data/County_PctOfHomesDecreasingInValues_AllHomes.csv
data/GIS_Data/County_PctOfHomesIncreasingInValues_AllHomes.csv
data/GIS_Data/County_PctOfListingsWithPriceReductions_AllHomes.csv
data/GIS_Data/County_Zhvi_AllHomes.csv
data/GIS_Data/County_Zhvi_Condominum.csv
data/GIS_Data/County_Zhvi_SingleFamilyResidence.csv
data/GIS_Data/CountyCrossWalk_Zillow.csv
data/GIS_Data/CountyCrossWalk_Zillow.xlsx
data/GIS_Data/Data.gdb/a00000001.freelist
data/GIS_Data/Data.gdb/a00000001.gdbindexes
data/GIS_Data/Data.gdb/a00000001.gdbtable
data/GIS_Data/Data.gdb/a00000001.gdbtablx
data/GIS_Data/Data.gdb/a00000001.TablesByName.atx
data/GIS_Data/Data.gdb/a00000002.gdbtable
data/GIS_Data/Data.gdb/a00000002.gdbtablx
data/GIS_Data/Data.gdb/a00000003.gdbindexes
data/GIS_Data/Data.gdb/a00000003.gdbtable
data/GIS_Data/Data.gdb/a00000003.gdbtablx
data/GIS_Data/Data.gdb/a00000004.CatItemsByPhysicalName.atx
data/GIS_Data/Data.gdb/a00000004.CatItemsByType.atx
data/GIS_Data/Data.gdb/a00000004.FDO_UUID.atx
data/GIS_Data/Data.gdb/a00000004.freelist
data/GIS_Data/Data.gdb/a00000004.gdbindexes
data/GIS_Data/Data.gdb/a00000004.gdbtable
data/GIS_Data/Data.gdb/a00000004.gdbtablx
data/GIS_Data/Data.gdb/a00000004.spx
data/GIS_Data/Data.gdb/a00000005.CatItemTypesByName.atx
data/GIS_Data/Data.gdb/a00000005.CatItemTypesByParentTypeID.atx
data/GIS_Data/Data.gdb/a00000005.CatItemTypesByUUID.atx
data/GIS_Data/Data.gdb/a00000005.gdbindexes
data/GIS_Data/Data.gdb/a00000005.gdbtable
data/GIS_Data/Data.gdb/a00000005.gdbtablx
data/GIS_Data/Data.gdb/a00000006.CatRelsByDestinationID.atx
data/GIS_Data/Data.gdb/a00000006.CatRelsByOriginID.atx
data/GIS_Data/Data.gdb/a00000006.CatRelsByType.atx
data/GIS_Data/Data.gdb/a00000006.FDO_UUID.atx
data/GIS_Data/Data.gdb/a00000006.freelist
data/GIS_Data/Data.gdb/a00000006.gdbindexes
data/GIS_Data/Data.gdb/a00000006.gdbtable
data/GIS_Data/Data.gdb/a00000006.gdbtablx
data/GIS_Data/Data.gdb/a00000007.CatRelTypesByBackwardLabel.atx
data/GIS_Data/Data.gdb/a00000007.CatRelTypesByDestItemTypeID.atx
data/GIS_Data/Data.gdb/a00000007.CatRelTypesByForwardLabel.atx
data/GIS_Data/Data.gdb/a00000007.CatRelTypesByName.atx
data/GIS_Data/Data.gdb/a00000007.CatRelTypesByOriginItemTypeID.atx
data/GIS_Data/Data.gdb/a00000007.CatRelTypesByUUID.atx
data/GIS_Data/Data.gdb/a00000007.gdbindexes
data/GIS_Data/Data.gdb/a00000007.gdbtable
data/GIS_Data/Data.gdb/a00000007.gdbtablx
data/GIS_Data/Data.gdb/a00000009.freelist
data/GIS_Data/Data.gdb/a00000009.gdbindexes
data/GIS_Data/Data.gdb/a00000009.gdbtable
data/GIS_Data/Data.gdb/a00000009.gdbtablx
data/GIS_Data/Data.gdb/a00000009.spx
data/GIS_Data/Data.gdb/a0000000a.gdbindexes
data/GIS_Data/Data.gdb/a0000000a.gdbtable
data/GIS_Data/Data.gdb/a0000000a.gdbtablx
data/GIS_Data/Data.gdb/a0000000a.spx
data/GIS_Data/Data.gdb/a0000000b.CountyFIPS.atx
data/GIS_Data/Data.gdb/a0000000b.CountyName.atx
data/GIS_Data/Data.gdb/a0000000b.freelist
data/GIS_Data/Data.gdb/a0000000b.gdbindexes
data/GIS_Data/Data.gdb/a0000000b.gdbtable
data/GIS_Data/Data.gdb/a0000000b.gdbtablx
data/GIS_Data/Data.gdb/a0000000c.freelist
data/GIS_Data/Data.gdb/a0000000c.gdbindexes
data/GIS_Data/Data.gdb/a0000000c.gdbtable
data/GIS_Data/Data.gdb/a0000000c.gdbtablx
data/GIS_Data/Data.gdb/a0000000e.freelist
data/GIS_Data/Data.gdb/a0000000e.gdbindexes
data/GIS_Data/Data.gdb/a0000000e.gdbtable
data/GIS_Data/Data.gdb/a0000000e.gdbtablx
data/GIS_Data/Data.gdb/a0000000e.spx
data/GIS_Data/Data.gdb/a0000000f.freelist
data/GIS_Data/Data.gdb/a0000000f.gdbindexes
data/GIS_Data/Data.gdb/a0000000f.gdbtable
data/GIS_Data/Data.gdb/a0000000f.gdbtablx
data/GIS_Data/Data.gdb/a0000000f.spx
data/GIS_Data/Data.gdb/a00000010.gdbindexes
data/GIS_Data/Data.gdb/a00000010.gdbtable
data/GIS_Data/Data.gdb/a00000010.gdbtablx
data/GIS_Data/Data.gdb/a00000010.spx
data/GIS_Data/Data.gdb/gdb
data/GIS_Data/Data.gdb/timestamps
data/GIS_Data/Data.mxd
data/GIS_Data/DaysOnZillow_County.csv
data/GIS_Data/DMV_Counties_Joined.csv
data/GIS_Data/DMV_Counties_Joined.xls
data/GIS_Data/DMV_Counties_Min.json
data/GIS_Data/DMV_MSA.json
data/GIS_Data/SaleToListRatio_County.csv
data/GIS_Data/States.json
data/GIS_Data/tl_2018_us_cbsa.cpg
data/GIS_Data/tl_2018_us_cbsa.dbf
data/GIS_Data/tl_2018_us_cbsa.prj
data/GIS_Data/tl_2018_us_cbsa.shp
data/GIS_Data/tl_2018_us_cbsa.shp.ea.iso.xml
data/GIS_Data/tl_2018_us_cbsa.shp.iso.xml
data/GIS_Data/tl_2018_us_cbsa.shx
data/GIS_Data/tl_2018_us_county.cpg
data/GIS_Data/tl_2018_us_county.dbf
data/GIS_Data/tl_2018_us_county.prj
data/GIS_Data/tl_2018_us_county.shp
data/GIS_Data/tl_2018_us_county.shp.ea.iso.xml
data/GIS_Data/tl_2018_us_county.shp.iso.xml
data/GIS_Data/tl_2018_us_county.shx
data/GIS_Data/tl_2018_us_state.cpg
data/GIS_Data/tl_2018_us_state.dbf
data/GIS_Data/tl_2018_us_state.prj
data/GIS_Data/tl_2018_us_state.shp
data/GIS_Data/tl_2018_us_state.shp.ea.iso.xml
data/GIS_Data/tl_2018_us_state.shp.iso.xml
data/GIS_Data/tl_2018_us_state.shx
data/GIS_Data/tl_2018_us_zcta510.cpg
data/GIS_Data/tl_2018_us_zcta510.dbf
data/GIS_Data/tl_2018_us_zcta510.prj
data/GIS_Data/tl_2018_us_zcta510.shp
data/GIS_Data/tl_2018_us_zcta510.shp.ea.iso.xml
data/GIS_Data/tl_2018_us_zcta510.shp.iso.xml
data/GIS_Data/tl_2018_us_zcta510.shx
data/GIS_Data/ZillowNeighborhoods-DC.dbf
data/GIS_Data/ZillowNeighborhoods-DC.prj
data/GIS_Data/ZillowNeighborhoods-DC.shp
data/GIS_Data/ZillowNeighborhoods-DC.shx
data/GIS_Data/ZillowNeighborhoods-MD.dbf
data/GIS_Data/ZillowNeighborhoods-MD.prj
data/GIS_Data/ZillowNeighborhoods-MD.shp
data/GIS_Data/ZillowNeighborhoods-MD.shx
data/GIS_Data/ZillowNeighborhoods-VA.dbf
data/GIS_Data/ZillowNeighborhoods-VA.prj
data/GIS_Data/ZillowNeighborhoods-VA.shp
data/GIS_Data/ZillowNeighborhoods-VA.shx
